/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  
  --yellow: rgb(232, 200, 55);
  --red: rgb(254, 52, 113);;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}


body{
  background-color: #f0f2f5 ;
  color: #5f5f5f;
}
/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}
.custom-file-input-letter::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-letter::before {
  content: 'Select your coverletter';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  
}
.custom-file-input-letter::before {
  border-color: black;
}
.custom-file-input-letter::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.custom-file-input-resume::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input-resume::before {
  content: 'Select your resume';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  
}
.custom-file-input-resume::before {
  border-color: black;
}
.custom-file-input-resume::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.form input[type='username'],
.form input[type='file'],
.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.form .social-input i {
  padding: 0.5rem;
  width: 4rem;
}

.form .social-input i.fa-twitter {
  color: #38a1f3;
}
.form .social-input i.fa-facebook {
  color: #3b5998;
}
.form .social-input i.fa-instagram {
  color: #3f729b;
}
.form .social-input i.fa-youtube {
  color: #c4302b;
}
.form .social-input i.fa-linkedin {
  color: #0077b5;
}
a{
  text-decoration: none;
  color: #5f5f5f;
}


/*comment*/
.comment-img{
  width: 40px;
  border-radius: 50%;
}


/*comment*/


/*************Internships-desgin****************/
.internships{
  padding-top: 30px;
}
.internship{
  max-width: 900px;
  margin-left: 50px;
}
.internship h1{
  color: var(--red);
  margin-bottom: 10px;   
}
.internshp p{
  margin-bottom: -50px;
}

/****************training-card****************/
#cardinternshipbody{
  background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
  
}
#cardinternshipcontainer{
  box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 1100px;	
}
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#cardinternshipcontainer .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

#cardinternshipcontainer .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#cardinternshipcontainer .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
  margin-bottom: -60px;
	
}
.btn-card{

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	
	
	
}

.btn-card:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn-card span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn-card .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn-card .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn-card .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn-card .buy {z-index: 3; font-weight: bolder;}

.btn-card:hover .price {transform: translateX(-110%);}

.btn-card:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#cardinternshipcontainer img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(95px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}




/******************end-training-card*********/
/*************end-Trainings-desgin****************/





















/*************Trainings-desgin****************/
.trainings{
  padding-top: 30px;
}
.training{
  max-width: 900px;
  margin-left: 50px;
}
.training h1{
  color: var(--red);
  margin-bottom: 10px;   
}
.training p{
  margin-bottom: -50px;
}

/****************training-card****************/
#cardbody{
  background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
  
}
#cardcontainer{
  box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 1100px;	
}
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#cardcontainer .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

#cardcontainer .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#cardcontainer .product-details > p {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
  margin-bottom: -60px;
	
}
.btn-card{

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	
	
	
}

.btn-card:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn-card span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn-card .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn-card .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn-card .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn-card .buy {z-index: 3; font-weight: bolder;}

.btn-card:hover .price {transform: translateX(-110%);}

.btn-card:hover .shopping-cart {transform: translateX(0%);}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 45%;
	display: inline-block;
}

#cardcontainer img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(95px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}




/******************end-training-card*********/
/*************end-Trainings-desgin****************/

/******************Login**********/

.login-container {
  width: 31.25em;
  background-color: #f8f8f8;
  padding: 1.4em 3.75em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.7em;
  box-shadow: 0 1em 4em rgba(71, 50, 4, 0.3);
}


/******************end-login***************/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-bottom: solid 1px var(--yellow);
}



.logo img {
  width: 40px;
  margin-right: 15 px;
  display: block;
  border-radius: 50%;  
}
.logo2 img {
  width: 40px;
  margin-right: 15 px;
  margin-bottom: 10px;
  display: block;
  border-radius: 50%;  
}
.navbar-center ul li {
  display: inline-block;
  list-style: none; 
}
.navbar-center ul li span{
  color: var(--red);
}

.navbar-center ul li a{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 5px 8px;
  padding-right: 5px;
 position: relative;
}
.navbar-center ul li a img{
  width: 30px
}

.navbar-center ul li a::after{
  content: '';
  width: 0;
  height: 2px;
  background: var(--red);
  position: absolute;
  bottom: -10px;
  transition: width 0.3s;
}
.navbar-center ul li a:hover::after,
.navbar-center  li a.active-link::after
{
  width: 100%;
}
.navbar-center ul li i {
  color: var(--red);
}
.navbar-center ul li Link{
  color: var(--red);
}
.nav-profile-img{
  width: 40px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;

}
.online{
  position: relative;
}

.online::after{
  content: '';
  width:7px ;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0px;
  top: 0px;
  background: #41db51 ;
  position: absolute;
}
.main-wavy{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -48px;
}
.wavy{
  
  position: relative;
  right: -490px;
 
}
.wavy span{
  position: relative;
  display: inline-block;
  font-size: 2em;
  text-transform: uppercase;
  animation: animate 1s ease-in-out infinite;
  animation-delay: calc(0.1s* var(--i)); 
  margin-right: 20px; 
  color: var(--yellow); 

}
@keyframes animate{
  0% { transform: translateY(0px);}
  20% {transform: translateY(-20px);}
  40%,100%{transform: translateY(0px);}
}
.search-box{
  background: #f0f2f5;
  width: 250px;
  border-radius:20px ;
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-right: 29%;
}
.search-box img{
  width: 14px; 
  
}
.search-box input{
  width: 100%;
  background:transparent ;
  padding: 8px;
  outline: none;
  border: 0;
}
.navbar-left {
  display: flex;
  align-items: center;
}


/*-------------- navbar end ------------------*/

.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 12rem;
  margin-top: 1.3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  
}
/*-------------- left-sidebar ------------------*/
.left-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  top: 73px;
  position: sticky;
  float: left;
  margin-left: 20px;
  
}

.sidebar-profile-box{
  background: #fff;
  
}
.sidebar-profile-box img{
  width: 350px;
  background: #fff;
  padding: 4px;
}
.sidebar-profile-info{
  padding: 0 25px;
  background: #fff;
}
.sidebar-profile-info img{
  width: 90px;
  border-radius:50% ;
  background: #fff;
  padding: 4px;
  margin-top: -45px;
}
.sidebar-profile-info h1{
  font-size:20px ;
  font-weight: 600;
  
}
.sidebar-profile-info h3{
  font-size: 14px;
  font-weight:500 ;
  
}
.sidebar-profile-info ul{
  list-style: none;
  margin: 20px 0;
}
.sidebar-profile-info ul li{
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}
.sidebar-profile-info ul li span {
  float: right;
  
}
.sidebar-profile-link{
  margin-top: -20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  background: #fff;
}
.sidebar-profile-link span {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  border-left: 1px solid #ccc; 
}

.sidebar-profile-link span:first-child {
  border-left:0

}
.sidebar-profile-link span img {
  width: 20px;
  margin-right: 10px;  
}
.sidebar-activity {
  background:#fff ;
  padding: 5px 25px;
  margin: 12px 0; 
}
.sidebar-activity h3 {
  
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.sidebar-activity li{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #888;
  margin: 3px 0;
}
.sidebar-activity img {
  width: 20px;
  margin-right: 10px;
  
}
.discover-more-link{
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
}

.discover-more-link a{
  color:#045be6;
  display: inline-block;
  margin: 10px 0;
}
.plus-img{
  width: 40px;
  float: right;
  background: #fff;
  margin-top: -55px;
}

/*-------------- right-sidebar ------------------*/
.right-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
  float: right;
  margin-right: 20px;
  max-width: 400px;
}
.sidebar-news{
  background: #fff;
  padding:10px 25px;
}
.info-icon{
  width:15px;
  float: right;
  margin-top: 15px;
}
.sidebar-news h3{
  font-size: 18px;
  font-weight: 600;
  color:var(--red);
  margin: 10px 0 30px;
}
.sidebar-news a{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom:-2px;
}

.sidebar-news span{
  font-size: 12px;
}
.sidebar-news .read-more-link{
color: var(--red);
font-weight: 500;
margin: 20px 0 10px;
}
/*--------------- caroussel--------------*/
.sidebar-Ad{
  justify-content: space-around;
  background: #fff;
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-Ad p {
  float: left;
  font-weight: 600px;
}
#slideset1 {height: 10em; position: relative ;padding: 50px;} 
#slideset1 > * {visibility: hidden; position: absolute;
  top: 0; left: 0; animation: 12s autoplay1 infinite}
  @keyframes autoplay1 {
    0% {visibility: visible}
    33.33% {visibility: hidden}
  }
#slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 4s}
#slideset1 > *:nth-child(3) {animation-delay: 8s}
.sidebar-Ad img{
  width: 80px;
  border-radius: 10%;
  margin: 4px;
  margin-bottom: 10px;
}
.sidebar-Ad small {
  float: right;
  font-weight: 500;
}

.sidebar-Ad b{
  display: block;
  font-weight: 500;
}
.Ad-link{
  display: inline-block;
  border: 1px solid #045be6;
  border-radius: 30px;
  padding: 5px 15px;
  color: #045be6;
  font-weight: 500;
  margin: 20px auto 60px; 
}
/*--------------- caroussel-end--------------*/
.sidebar-useful-links{
  padding: 15px 45px;
  text-align: center;
}
.sidebar-useful-links a{
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
.copyright-msg{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}
.copyright-msg img{
  width: 18px;
  margin-right:4px;
}
/*-------------- main-content ------------------*/
.main-content{
  flex-basis: 47%;
}
.posts{
  max-width: 1000px;  
  overflow: hidden;
  padding: 0rem 1rem 0rem 1rem;
  margin-top: 1.3rem;
  margin-bottom: 3rem; 
  
}
.create-post{
  background: #fff;
  
}
.create-post-input{
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}
.create-post-input img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.create-post-input textarea{
  width: 100%;
  border:0;
  outline:0;
  resize: none;
  background: transparent;
  margin-top:8px;

}
.create-post-links li form input{
  width: 100%;
  border:0;
  outline:0;
  resize: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  
  
}
::placeholder{
  font-weight: 500;
}
.create-post-links{
  display:flex;
  align-items:flex-start ;
}
.create-post-links li{
  list-style: none;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  flex-basis: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.create-post-links li img{
  width: 15px;
  margin-right: 5px;
}
.create-post-links li:last-child{
  background: #045be6;
  color: #fff;
  border-top: 0;
  border-right: 0;
}
.sort-by{
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.sort-by hr{
  flex: 1;
  border:0;
  height: 1px;
  background: #ccc;

}
.sort-by p{
  font-size: 13px;
  padding-left: 5px;
}
.sort-by p span{
  font-weight: 600;
  cursor: pointer;
}
.sort-by p span img{
  width: 12px;
  margin-left: 3px;
}
.post{
  background: #fff;
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}
.post-author{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.post-author-shared{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}
.post-author-shared img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;

  margin-top: 5px;
}
.post-img {
  width: 100%;
}
.post-author img{
  width: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.post-author-shared h1{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.post-author-shared small{
  display: block;
  margin-bottom: -2px;
}
.post-author h1{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.post-author small{
  display: block;
  margin-bottom: -2px;
}
.post p{
  font-size: 14px;
  margin-bottom: 15px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal-content li {
  margin-bottom: 10px;
}
.modal-content li img {
  width: 40px;
  border-radius: 50%;
  margin-right: 15px;
}

.modal-content button {
  margin-top: 10px;
}
.post-stats{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  margin-top: 16px;
}
.others {
  color: var(--red);
  cursor: pointer;
  margin-left: -16px;
  margin-top: -1.5px;
  
  
}
.likeLink{
  display: flex;
  align-items: center;
}
.likeLink p{
  margin-top: 12px;
  margin-left: -8px;
  font-size: 22px;
}
.firstlike{
  display: flex;
  
  align-items: center;
  margin-right: 20px;

}
.firstlike p {
  margin-left: 22px;
  margin-top: -20px;
}
.firstlike img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px; 
}
.others-btn{
  color: var(--red);
  cursor: pointer;
  position: absolute;
  
}
.post-stats div {
  display: flex;
  align-items: center;
}
.post-stats img{
width: 15px;
margin-right: -5px;
}
.liked-users{
  margin-left: 10px;
}
.likesname{
  display: flex;
  align-items: center;
  margin-left: -2px;
  margin-top:12px;
}
.post-activity{
  display:flex;
  align-items:center ;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.post-activity div {
  display: flex;
  align-items: center;
}
.like-stats span{
  margin-top: 3px;
  margin-left: 3px ;
}
.post-activity-user-icon{
width: 30px;
border-radius: 50%;
}
.post-activity-arrow-icon{
  width: 12px;
  margin-left: 5px;
}
.post-activity-link img {
  width: 18px;
  margin-right: 8px;
}

/*-------------- Profile-drop-down-menu ------------------*/
.profile-menu-wrap{
  position: absolute;
  top: 100%;
  right: 5%;
  width: 320px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
.profile-menu-wrap.open-menu{
  max-height: 400px;
}
.profile-menu{
  background: #222;
  color: #fff;
  padding: 20px;
  margin: 10px;
}
.user-info{
  display: flex;
  align-items: center;
}
.user-info img{
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.user-info h3{
  font-weight:500 ;
  margin-bottom: -7px;
}
.user-info a{
  color: #c9dbf8;
  font-size: 13px;
}
.profile-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: #fff;
  margin: 15px 0 10px;

}
.profile-menu-link{
  display: flex;
  align-items: center;
  color: #fff;
  margin: 12px 0;
  font-size: 14px;
}

.profile-menu-link P{
  width: 100%;
}
.profile-menu-link img{
  width: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
/******************profile-other********************/

.container-p {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.bg-light
 {
  background: var(--light-color);
  color: #333;
}
.my-1 {
  margin: 1rem 0;
}
.btn-primary
 {
  background: rgb(254, 52, 113);
  color: #fff;
}
.round-img {
  border-radius: 50%;
}
.btnn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.text-primary {
  color:rgb(232, 200, 55); 
}
.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}
.profile-grid {
  display: grid;
  grid-template-areas:
    'top top'
    'about about'
    'exp edu'
    'github github';
  grid-gap: 1rem;
}
.profile-exp {
  grid-area: exp;
}
.profile ul {
  display: none;
}
.bg-white
 {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
.p-2 {
  padding: 2rem;
}
.profile-edu {
  grid-area: edu;
}
.profile-about {
  grid-area: about;
  text-align: center;
}
.profile-about .skills {
  flex-direction: column;
}

.profile-about .skills {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}
.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}
.profile-about .skills {
  flex-direction: column;
}
.text-dark {
  color: var(--dark-color);
}
.profile-top {
  grid-area: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-top img {
  width: 250px;
}

.profile-top .icons a {
  color: #fff;
  margin: 0 0.3rem;
}

.profile-top .icons a:hover {
  color: var(--dark-color);
}
.bg-primary
{
  background: rgb(254, 52, 113);
  color: #fff;
}
.large {
  font-size: 2rem;
}

.lead {
  font-size: 1rem;
}

/******************profile-other********************/

/*--------------------- profile-page---------------*/
.profile-main{
  flex-basis: 73%;
  padding: 15px 3% ;
  
}
.profile-cover{
  width: 70%;
}
.profile-sidebar{
  flex-basis: 25%;
  align-self: flex-start;
  position: sticky;
  top: 73px;
}
.profile-container-inner{
  padding: 0 3% 10px;
  background: #fff;
  flex-basis: 73%;
  margin-right: 26.7em;
 
}
.profile-pic{
  width: 150px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}
.profile-container-inner h1{
  font-size:28px ;
  font-weight: 600;
  color: #222;
}

.profile-container-inner b{
  font-weight: 600;

}
.profile-container-inner p{
  margin-top: 5px;
}
.profile-container-inner p a{
  color: #045be6;
  font-weight: 600;
}

.profile-btn{
  margin:20px 0;
}
.profile-btn a{
  display: inline-flex;
  align-items: center;
  background: #e4e6eb;
  padding: 6px 15px;
  border-radius: 4px;
  margin-right: 10px;
}
.profile-btn a img{
  width: 18px;
  margin-right: 5px;
}
.profile-btn .primary-btn{
  background: #045be6;
  color: #fff
}

.profile-description{
  background: #fff; 
  margin: 12px 0;
  border-top: 1px solid #ccc;
  margin-top: 4px;  
}
.profile-description h2{
  color: #333;
  margin: 10px 0 20px;
  font-weight: 600;
}
.see-more-link{
  display: block;
  text-align: right;
  font-size: 15px;
}
.profile-desc-row{
  align-items: flex-start;
  margin: 20px 0;
 
}
.profile-desc-row img{
  width: 50px;
  margin-right: 25px;
  margin-top: 5px;
}
.profile-desc-row div{
  width: 100%;
}
.profile-desc-row h3{
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.profile-desc-row b{
  display: block;
  font-weight: 500;
  font-size: 15px;
}
.profile-desc-row p{
  margin-top: 15px;
}
.profile-desc-row hr{
  border: 0;
  border-bottom: 1px solid #999;
  margin-top: 10px;
}
.experience-link{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-weight: 500;
}
.experience-link img{
  width: 20px;
  margin-left: 8px;
}
.skills-btn{
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  border: 1px solid #777;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
}
.language-btn{
  display: inline-block;
  margin: 10px 5px;
  padding: 6px 18px;
  background: #e4e6eb;
  font-size: 12px;
  font-weight: 600;
}
.social-links{
  display: flex;
}
.social-link{
  text-decoration: none;
    color: #b7b7b7;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(28, 28, 28);
    border-radius: 10px;
    position: relative;
    transition: 0.4s;

}
.social-link:hover{
  transform: rotate(45deg);

}
.social-link::before{
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #373737;
  border-radius: 10px;
  transition: opasity 0.2s;

}
.social-link:hover::before{
  opacity: 0.4;

}
.social-link:nth-child(1)::before {
  background: #f80404;
}
.social-link:nth-child(2)::before {
  background: #1da1f2;
}
.social-link:nth-child(3)::before {
  background: #c32aa3;
}
.social-link:nth-child(4)::before {
  background: #0a66c2;
}
.social-link:nth-child(5)::before {
  background: #0080ff;
}
.social-link:hover::before {
  transform: translate(-4px, -4px);
  filter: blur(10px);
}
.social-link i {
  font-size: 1.7em;
  transition: all 0.4s;
}
.social-link.link:hover i {
  color: #c8c8c8;
  transform: rotate(-45deg);
}
.social-link:hover i.youtube {
  background: #f80404;
}
.social-link:hover i.instagram {
  color: #c32aa3;
}

.social-link:hover i.twitter {
  color: #1da1f2;
}


.social-link:hover i.facebook {
  color:#0080ff;
}

.social-link:hover i.linkedin {
  color: #0a66ca;
}

.exp-del{
 
  float: right;
  
  cursor: pointer;
}
.exp-img {
  background: #fff;
}

/*--------------------- profile-right-sidebar---------------*/
.profile-sidebar .sidebar-Ad{
  margin: 0;
}
.sidebar-people{
  background: #fff;
  padding: 15px 25px;
  margin: 12px 0;
  font-size: 12px;
}
.sidebar-people h3{
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 20px;
}
.sidebar-people-row{
  display: flex;
  align-items: flex-start;
  margin: 6px 0;
}
.sidebar-people-row img{
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 5px;
}
.sidebar-people-row h2{
  font-weight: 600;
  font-size: 16px;
}
.sidebar-people-row a{
  display: inline-block;
  margin: 10px 0;
  padding: 5px 25px;
  border: 1px solid #5f5f5f;
  border-radius: 30px;
  font-weight: 600;
}

.profile-footer{
  padding: 0 6% 30px;
}
.profile-footer .sidebar-useful-links{
  text-align: left;
  padding: 0;
}
.profile-footer .copyright-msg{
  justify-content: flex-start;
}
#ShowMoreLink{
  display: none;
}

/* Landing Page */
.landing {
  position: relative;
  background: url('./img/thebrige-1.png') no-repeat center center/cover;
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing-inner h1{
  color: var(--red)
}
.landing-inner p{
  color: var(--yellow);
}
/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--yellow);
}

.text-dark {
  color: var(--dark-color);
}
/*-----buttons-------*/
.btn {
  display: inline-block;
  background: var(--red);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.4rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn-post {
  display: inline-block;
  background: var(--red);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}
.btn-like{
  background-color: #fff;
  display: inline-block;
  background: #fff;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0rem;
  transition: opacity 0.2s ease-in;
  outline: none
}


.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: rgb(254, 52, 113);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}
/*--------------------- media query for small screen---------------*/

@media only screen and (max-width:600px){
  
  .search-box{
    background: transparent;
    width: auto;
    padding: 0;
    margin-right: 0;
  }
  .search-box input{
    width: 0;
    padding: 0;
   }
   .navbar-center ul li a span{
    display: none;
   }
   .navbar-center ul li a{
    padding-right:0;
    margin:5px;
    }
    .nav-profile-img{
      width: 30px;
    }
    .container{
      padding: 15px 3%;
    }
    .left-sidebar , .right-sidebar{
      flex-basis: 100%;
      position: relative;
      top: unset;
    }
    .main-content{
      flex-basis: 100%;
    }
    .post-stats div{
      margin: 2px 0;
  
    }
    .post-activity-link span{
      display: none;
    }
    .post-activity-link img{
      margin-right: 0;
    }
    .profile-main, .profile-sidebar{
      flex-basis: 100%;
    }
    .profile-container-inner{
      font-size: 14px;
    }
    .profile-pic{
      width: 30%;
      margin-top:-50px ;
    }
    .profile-description{
      font-size: 14px;
    }
  #ShowMoreLink{
    display: block;
    width: fit-content;
    margin: 10px auto;
    font-size: 14px;
    cursor: pointer;
  }
  .sidebar-activity{
    display: none;
  }
  .sidebar-activity.open-activity{
    display: block;
  }
	.wavy{
    display: none;
  }

    
 
}


